.content{
    max-width: 73%;
    margin: 0 auto;
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-bottom: 20px;
    /* background-color: #ccc; */
    padding: 25px 40px;
}

.content-top{
    margin: 0 40px;
}
.content-bottom{
    width: 100%;
}

.content-title h1{
    font-size: 45px;
    font-weight: bold;
    color: black;
    margin: 0;
}
.content-desc p{
    margin-top: 0;
}
.content-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 50px ;
    justify-items: center;
}

.item-card{
    width: 98%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    transition: 0.15s ease;
    border-radius: 10px;
}

.item-card:hover{
    box-shadow: 2px 1px 20px 0px rgba(0, 0, 0, 0.064);
}

.item-card-top img{
    width: 100%;
    border-radius: 20px;
    height: 300px;
    object-fit: cover;
    object-position: top;
}

.item-card-bottom{
    margin-left: 9px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.item-name{
    text-align: start;
    color: black;
    font-size: 17px;
    margin: 0;
}

.item-restaurant{
    color: rgba(65, 63, 63, 0.893);
    font-size: 15.5px;
    margin: 0 ;
}

.time-rating{
    display: flex;
    flex-direction: row;
    gap: 10px;
    font-size: 15px;
}

.item-price{
    color: black;
    font-weight: bold;
    font-size: 17px;
}

.price-cart{
    margin-top: 16px;
    margin-left: 39px;
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
}

.add_cart-btn{
    position : relative;
    left: 100px;
    background-color: rgb(255, 123, 0);
    cursor: pointer;
    padding: 5px;
    border-radius: 20px;
    width: 80px;
    text-align: center;
}

.minus, .plus{
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 700;
}



/* content-top */

.back-button{
    padding : 8px;
    background-color: rgba(255, 182, 193, 0.767);
    border-radius: 20px;
    width: 70px;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 40px;
    color:black;
}


 /*   Phone     */

 @media (min-width : 350px) and (max-width : 767px){
    
    body {
     width: 100%;
     max-width: 100vw;
     overflow-x: hidden;
}
    .content{
        grid-template-columns: 30% 70%;
        width: 100%;
        overflow-x: hidden;
    }
    .content-bottom{
        width: 100%;
    }

    /* remove non needed */


.content-title h1{
      font-size: 28px;
      margin-top: 30px;
}


.item-card-top img{
    width: 100%;
    border-radius: 10px;
    height: 250px;
    object-fit: cover;
    object-position: top;
}

.item-card-bottom{
    margin-left: 9px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 6px;
}



    /* remove non needed */
    /* over */

    .content-items{
    width: 100%;
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px ;
    column-gap: 1%;
    justify-items: center;
    }
    
    .item-card {
        width: 100%;
        padding : 5px;
        padding-bottom: 20px;
    }

    .item-name{
        font-size: 14.5px;
    }
    .item-restaurant{
        font-size: 13px;
    }
    .time-rating{
        display: flex;
        flex-direction: row;
    }
    .item-price{
        font-size: 15px;
        flex-direction: column;
        gap: 2px;
    }
    .item-MRP, .item-sale{
        font-size: 12px;
    }

    .mrp-sale-wrapper{
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    .price-cart {
        gap: 6%;
        margin-left: -10%;
    }
    .buy-button {
    padding: 5px 10px;
    font-size: 13px;
    }
    .wishlist-button {
    font-size: 13px;
    gap: 4px;
    }
    .wishlist-button .nav-icons-circle {
    width: 23px;
    height: 23px;
    }
    .wishlist-button .nav-icons-circle i {
    font-size: 15px;
    padding: 13px;
    }


    /* content-top */

    .back-button{
    width: 80px;
    font-size: 16px;
    }
    
    .size-checkbox, .color-checkbox{
        font-size: 17px;
        grid-template-columns: 30% 70%;
    }
     
    .radio-container{
        grid-template-columns: 77% 23%;
        font-size: 17px;
    }

    .filter-buttons{
        gap: 10px;
        margin: 0;
    }


 }