@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Light.ttf') format('truetype');
  font-weight: 300;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
}
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 500;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
  
html{
  scroll-behavior:smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100vw;
  font-family: 'Poppins', sans-serif;
}

.navbar {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   gap: 7%;
   width: 100%;
}

.side-navbar{
    position: fixed; 
    top: 0;
    left: 0;
    height: 100vh;
    width: 60%;
    display: grid;
    grid-template-columns: 90% 10%;
    background-color: white;
    z-index: 100000;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}
.side-navbar.open{
    transform: translateX(0);
}


.overlay-side-nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 101vh;
    width: 101vw;
    background-color: #ffffff00;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 100000;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.3s ease, visibility 0.3s ease ;
}
.overlay-side-nav.show{
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.nav-mobile{
   left: 0;
   top: 0;
   position:fixed;
   width: 100%;
   z-index: 10000;
   background-color: #ff7f00;  
   backdrop-filter: blur(10px);
   padding: 15px 20px;
   display: flex;
   flex-direction: column;
   box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
}

.search-bar-mobile{
  display: none;
}

.menu-bar, .menu-bar a{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    gap: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.menu-item {
  font-size: 17.5px;
  padding: 6px;
  cursor: pointer;
  border-bottom: none;
  background-image: linear-gradient(to right, #ffffff, #ffffff);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0% 3px;  
  transition: background-size 0.3s ease;
}

.menu-item:hover {
  background-size: 95% 3px; 
}

.logo {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 27px;
  font-weight: bold;
  color: white;
}

.logo img{
  border-radius: 50%;
   height : 55px;
   width : 55px;
}

.search-bar{
  flex-grow: 1;
  max-width: 500px;
  margin: 0px;
  position: relative;
}

.search-bar input {
  width: 100%;
  padding: 13px 40px 13px 15px ;
  border: 1.5px solid #ffffff;
  background-color: transparent;
  border-radius: 30px;
  color: white;
  font-size: 14px;
  outline: none;
}
.search-bar input:focus{
  border: 1.5px solid #ffffff;
}
.search-bar i{
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(255, 255, 255);
}

.search-bar input::placeholder{
   color: white;
   opacity: 0.8;
}

.nav-collapse-icon{
    display: flex;
    flex-direction: column;
    gap: 3px;
    display: none;
    margin-left: 5px;
}
.nav-collapse-icon span{
  width: 20px;
  height: 3px;
  background-color: white;
}

.nav-icons {
  display: flex;
  gap: 10px ;
  align-items: center;
  margin-right: 2%;
}

.nav-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 12px;
  color: white;
}

.nav-icons-circle i {  
  font-size: 20px;
  color: white;
}

.nav-icons-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border: 1.55px solid white;
  border-radius: 50%;
  transition: 0.4s ease;
  background-color: #3333332f;
}
.nav-icons-circle:hover{
  background-color: transparent;
}

.account-section{
  display: flex !important;
  flex-direction: row !important;
  gap: 5x !important;
}
.account-section span{
  font-size: 17px;
}
.arrow{
  position: relative;
  bottom: -1.5px;
  left: -6px;
  font-size: 22px !important;
  transition: transform 0.3s;
}
.account-section{
  position: relative;
}
.account-box{
  width: 8vw;
  position: absolute;
  top: 120%;
  right: -10%;
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  padding: 1.1rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  opacity: 0;
  min-width: 140px;
  padding-bottom: 10px;
  transition: transform 0.1s;
}

.account-box.active {
  display: block;
  opacity: 1;
}

.account-section.active .arrow{
  transform: rotate(180deg);
}

.account-box li{
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 10px;
  font-size: 15px ;
}

.account-box li:not(:last-child){
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
.account-box ul{
  margin: 0;
  padding: 0;
}

/* hero section */

.hero{
  padding-top: 60px;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  background-color: #fff9f1;
}

.hero-img img{
  margin: 0 auto;
  width: 90vh;
  height: 90vh;
  margin-left: 12vw;
}

.hero-text{
  display: flex;
  flex-direction: column;
  margin: 160px 0 0 30px;
}

.hero-text h1, .hero-text h2{
  margin : 0;
  margin-bottom: -20px;
}

.hero-text h1{
  font-size: 70px;
}
.hero-text h2{
  font-size: 60px;
}

.hero-button{
  background-color: rgb(3, 3, 157);
  width: 150px;
  border-radius: 30px;
  padding: 10px 2px;
  margin-top: 30px;
  border: none;
  color: white;
  font-size: 19px;
  cursor: pointer;
}


.front-menu {
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 20px;
    padding: 50px 110px;
    scroll-margin-top: 130px;
}

.front-menu div h3{
    font-size: 13px;
    color: #303030;
    margin-bottom: 25px;
}

.items-wrapper{
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-bottom: 30px;
}
.items {
  position: relative;
  align-items: center;
}

/* if label under items */
/* .items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
} 

.item-label{
  font-weight: 500 ;
} */
 

.item-image img{
  height: 145px;
  width: 145px;
  display: block;
  transition: 0.3s ease;
}

.item-image img:hover {
  filter: drop-shadow(0 0 15px #ff800079);
}


.offer-slider{
  width: 90%;
  margin: 30px auto;
  position: relative;
  overflow: hidden;
}

.offer-banners{
  height: 500px;
  display: flex;
  transition: transform 0.8s ease-in-out;
  scroll-behavior: auto;
}

.slide{
  width: 100%;
  flex-shrink: 0;
  border-radius: 30px;
}

.nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  font-size: 2rem;
  padding: 10px;
  cursor: pointer;
  z-index: 10;
  opacity : 0.7 ;
}

.prev{
  left: 10px;
}

.next{
  right: 10px;
}

.dots{
  text-align: center;
  margin-top: 10px;
}

.dots button{
  height: 12px;
  width: 10px;
  margin: 0px 5px;
  border-radius: 50%;
  border: none;
  background-color: #ccc;
  cursor: pointer;
}

.dots button.active{
  background-color: #da44cf;
}

.dots button:hover{
    background-color: rgb(206, 47, 255);
    z-index: auto;
}

.footer{
    position: relative;
    max-width: 100%;
    margin-top: 20px;
    background-color: #fbf2e8;  
    backdrop-filter: blur(10px);
    padding: 60px 80px;
    display: flex;
    flex-direction: row;
    gap : 240px;
    align-items: flex-start;
    z-index: 2;
}

.logo-footer{
   color: #ff7f00;
   font-size: 35px;
}

.footer-circles{
  position: relative;
  display: flex;
  flex-direction: row;
  gap:2%;
}
.footer-circle{
      position: relative;
      height: 100px;
      width: 100px;
      border-radius: 50%;
      background-color: rgba(255, 0, 187, 0.664);
      filter: blur(23px);
      z-index: 1;   
}

.circle-1{
   bottom: -360px;
}
.circle-2{
  bottom: -270px;
  height: 70px;
  width: 70px;
}
.circle-3{
   bottom: -160px;
}

.footer-block{
    display: block;
}


.about p {
  font-size: 10px;
}

.about{
  width: 20%;
  display: flex; 
  flex-direction: column;
  gap: 8px;
}

.footer-lists{
  list-style: none;
  margin: 0;
  padding: 0;
  color: black;
}

.footer-lists li{
  padding-bottom : 6px;
  font-size: 13px;
  margin-left: 2px;
  background-image: linear-gradient(to right,#ffff,#ffff);
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: 0.4s;
  margin-bottom: 4px;
}

.footer-lists a{
  text-decoration: none;
  color: black;
}

.products .footer-lists li:hover{
  cursor: pointer;
  background-size: 70% 2px;
}

.footer-titles{
    font-weight: 600;
    font-size: 22px ;
    padding: 0;
    margin: 0;
    padding-top : 10px;
    padding-bottom: 20px;
    color: #ff7f00;
}

.connect, .connect div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;              
  margin-top: 5px;

}
.connect div{
  margin-top: 0px;
}

.connect i{
  font-size: 25px;
  margin-left: 25px;
  background-color: rgb(255, 145, 0);
  border-radius: 50%;
  border: 2px solid #ffffff ;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  transition: 0.2s ease;
}

.connect i:hover{
  color: rgb(255, 145, 0);
  background-color: white;
  border: 2px solid rgb(255, 145, 0);
}

.contact-connect{
  display: flex;
  flex-direction: column;
  gap : 30px;
}





 /*
  ----------------------
|   Responsive Website   |
  ---------------------- 
 */

 @media (min-width : 768px) and (max-width : 1024px){

     .front-menu {
      width: 100%;
     }

     .offer-slider{
      width: 100%;
     }


 }


 /*   Phone     */

 @media (min-width : 300px) and (max-width : 767px){

    .menu-bar{
        display: none;
   }

    .nav-mobile{
     display: flex;
     flex-direction: column;
     padding: 11px 2px 15px;
     max-width: 100%;
     gap: 10px;
    }

    .side-navbar-elements{
      display: flex;
      flex-direction: column;
      gap: 15px;
      margin: 60px auto;
    }
    .side-navbar-elements a,.side-navbar-elements .menu-item{
      font-size: 18px;
      color: black;
      text-decoration: none;
    }

    .search-bar{
     display: none;
    }

    .search-bar-mobile{
     display: flex;
     align-items: center;
     justify-content: center;
    }

    .search-bar-mobile input{
     width: 95%;
     padding: 8px 40px 8px 15px ;
     border: 1px solid #ffffff;
     background-color: transparent;
     border-radius: 30px;
   }

    .search-bar-mobile i{
     position: absolute;
     right: 7%;
     color: rgb(255, 255, 255);
   }

    .navbar{
     gap: 2%;
     max-width: 100%;
     position: relative;
    }

    .nav-icons div{
      font-size: 23px;
    }

    .nav-icons{
      max-width: 100%;
      margin-left: auto;
      margin-right: 20px;
      gap:5%;
    }

    .nav-icons > div {
      font-size: 0;
      transform : translateY(+8%);
    } 
    .account-section > div {
      font-size: 0;
    } 

    .nav-collapse-icon{
      display: flex;
    }

    /* .item-label{
      font-weight: 500;
      font-size: 13px;
    } */
    .items{
      gap: 10px;
    }

    .item-image{
      display: flex;
      justify-content: center;
    }
    .item-image img {
      height: 84% !important;
      width: 84% !important;
      max-width: 130px;
      max-height: 130px;
    }

    .front-menu {
      width: 100%;
      margin: 130px auto 40px;
      column-gap: 0px;
      row-gap: 35px;
      grid-template-columns: repeat(3, 1fr);
      padding: 20px 3%;
      overflow-x: hidden;
      max-width: 610px;
     }

     .item-appliances{
          left: 66%;
          transform: translateX(-10%);
     }
     .item-mobile{
          left: 33%;
          transform: translateX(25%);
     }


    .offer-slider{
      width: 100%;
      overflow-x: hidden;
     }
     
     .nav-icons-circle i{
      font-size: 18px;
     }

     .nav-icons-circle{
      width: 35px;
      height: 35px;
      border: 2px solid white;
     }

     .navbar .logo{
      font-size: 20px;
      gap: 5px;
     }
     .navbar .logo img{
      height : 35px;
      width : 35px;
     }
    .offer-banners{
     height: 190px;
    }

    .dots button{
     height: 10px;
     width: 10px;
     margin-top: 20px;
    }

  .nav{
    font-size: 1.5rem;
    transform: translateY(-50%);
  }

  .footer-circle {
    height: 40px;
    width: 200px;
    border-radius: 50%;
    filter: blur(5px);
  }
  .circle-1{
    bottom: -240px;
  }

  .circle-2{
    bottom: -160px;
    height: 40px;
    width: 90px;
  }

  .circle-3{
    bottom: -90px;
  }

  .footer{
    width: 100%;
    overflow-x: hidden;
    padding: 35px 10px;
    gap: 6.5%;
  }

  .logo-footer{
    font-size: 16px;
    gap: 5px;
  }
  .logo-footer img{
    width: 25px;
    height: 25px;
  }
  .footer .about{
    min-width: 30%;
    gap: 0px;
  }
  .footer .about p{
    font-size: 9px;
  }
  .footer-titles {
    font-size: 12px;
    padding-bottom: 10px;
    padding-top: 5.5px;
  }

  .footer-lists li {
    padding-bottom: 0px ;
    font-size: 11px;
  }

  .contact-connect {
    gap: 10px;
  }

  .connect{
    gap: 0px;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  .connect .footer-titles{
    padding-bottom: 1px;
  }

  .connect div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 5px;
  }

  .connect i {
    margin-left: -1px ;
    margin-right: 5px ;
    font-size: 16px;
    width: 30px;
    height: 30px;
  }


 }